<div class = 'container'>
  <h2 class = 'col-4 bg-light mt-5 text-center'>商品一覧</h2>

  <div class = 'row'>
    <div class = 'col-10'>
      <table class = 'table'>

        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <th><%= item.id %></th>
            <th><%= item.name %></th>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>