<p class = 'text-success'><%= notice %></p>
<div class = 'container'>
  <h2 class = 'col-4 bg-light mt-5 text-center'>商品一覧</h2>

  <div class = 'row mt-5'>
    <div class = 'col-10 mx-auto'>
      <table class = 'table '>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
    </div>
  </div>
</div>